.food{
	background-image:url("food.jpg");
	height:100vh;
	width:97vw;
	background-size:cover;
}
.card{
    background-color:#000000e6;
    border-radius:15px;
    padding:20px;
    margin:20px;
    color:white;
}
.heading{
	color:white;
	font-weight:bold;
}
.para{
	color:white;
}
.para1{
	color:white;
}
.para2{
	color:white;
}
.card1{
    background-color:#000000e6;
    border-radius:15px;
    padding:20px;
    margin:20px;
    color:white;
}
.table{
    color:black;
}

